<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">ルームを立てる</a>
  </div>
</div>

<div class="rooms">
  <%# 宇宙世紀モノ %>
  <div class="category">
    <span>宇宙世紀モノ</span>
  </div>
  
  <div class="series">
    <span>機動戦士ガンダム(宇宙世紀0079)</span>
    <div class="room-name">
      <a href="#">テストルーム</a>
    </div>
  </div>

  <div class="series">
    <span>ガンダム0083 STARDUST MEMORY(宇宙世紀0083)</span>
    <div class="room-name">
      <a href="#">テストルーム2</a>
    </div>
  </div>

  <div class="series">
    <span>Zガンダム(宇宙世紀0087-88)</span>
    <div class="room-name">
      <a href="#">テストルーム3</a>
    </div>
  </div>
  <%# 宇宙世紀モノ %>
  <%# 宇宙世紀以外 %>
  <div class="category">
    <span>宇宙世紀外伝</span>
  </div>

  <div class="series">
    <span>新機動戦記ガンダムW</span>
    <div class="room-name">
      <a href="#">テストルーム4</a>
    </div>
  </div>
  <%# 宇宙世紀以外 %>
  <%# ガンプラ %>
  <div class="category">
    <span>ガンプラ</span>
  </div>
  <div class="series">
    <span>HG</span>
    <div class="room-name">
      <a href="#">テストルーム5</a>
    </div>
  </div>
  <%# ガンプラ %>

</div>
