.wrapper{
  display: flex;
}
// サイドバー
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
// サイドバーヘッダー部
.side-bar-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.create-room a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: solid 1px lightblue;
  text-decoration: none;
}
// ルーム選択部
.rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.category{
  font-size: 1.6rem;
  color: white;
  padding:0 5px;
  width: calc(300px - 20px - 20px);
  background-color: skyblue;
  display: flex;
  margin: 10px 0;
  cursor: pointer;
}
// 親ボタン外側
.openbtn-parent{
  position: relative;
  transition: all.4s;
  background: #57a2c7;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 0 0 auto;
}
// 親ボタン内側
.openbtn-parent span{
  display: inline-block;
  position: absolute;
  left: 12px;
  height: 3px;
  width: 45%;
  background: #fff;
}
.openbtn-parent span:nth-of-type(1){
  top: 17px;
}
.openbtn-parent span:nth-of-type(2){
  top: 10px;
  left: 19px;
  height: 45%;
  width: 3px;
}
// 親ボタンクリック後
.openbtn-parent.active span:nth-of-type(2){
  opacity: 0;
}

.series{
  color: white;
  font-size: 14px;
  display: none;
}
.series.open{
  display: block;
}
.series--name{
  transition: 0.5s;
  display: flex;
  cursor: pointer;
}
.series-name:hover{
  background-color:rgba($color: #000000, $alpha: 0.2);
  transition: 0.3s;
  color: red;
  .series--name{
    transition: 0.2s;
  }
}

// 子供ボタン外側
.openbtn-child{
  position: relative;
  transition: all.4s;
  background: #57a2c7;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 0 0 0 auto;
}
// 子供ボタン内側
.openbtn-child span{
  display: inline-block;
  position: absolute;
  left: 5px;
  height: 2px;
  width: 50%;
  background: #fff;
}
.openbtn-child span:nth-of-type(1){
  top: 9px;
}
.openbtn-child span:nth-of-type(2){
  top: 5px;
  left: 9px;
  height: 50%;
  width: 2px;
}
// 子供ボタンクリック後
.openbtn-child.active span:nth-of-type(2){
  opacity: 0;
}
.room{
  display: none;
}
.room.open{
  display: block;
}
.room-name a{
  text-decoration: none;
  color: silver;
  transition: 0.3s;
  border-bottom: dotted 1px darkgray;
}
.room-name a:hover{
  color: skyblue;
  transition: 0.3s;
  font-size: 1.1rem;
}

// メインチャット部
.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
// チャットヘッダー部
.chat-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header{
  display: flex;
  align-items: center;
  padding: 36px 40px;
}
.header-title{
  font-size: 24px;
  color: #333;
}
.center-header{
  display: flex;
  align-items: center;
}
.header-center-button a{
  padding: 20px;
  margin: 0 5px;
  text-decoration: none;
  color: darkred;
  // border: solid 1px darkred;
}
.header-button a{
  padding: 20px;
  text-decoration: none;
  color: darkred;
  border: solid 1px darkred;
}
// チャットメッセージ部
.messages{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.message{
  padding: 10px 0 0 0;
}
.upper-message{
  display: flex;
}
.message-user{
  font-size: 16px;
  color: #434A54;
}
.message-date{
  padding-left: 10px;
  font-size: 12px;
  color: #999;
}
.message-content{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 30px;
}
// チャット内容送信フォーム
.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form-input{
  background-color: white;
  display: flex;
  width: 100%;
}
.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit{
  border: none;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden{
  display: none;
}